################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HU-Vision-practica-18-19/v15/ipch/AutoPCH
