################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HU-Vision-practica-18-19/v15/ipch/AutoPCH
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/HU-Vision-practica-18-19/v15/Browse.VC.opendb
/.vs/HU-Vision-practica-18-19/v15/Browse.VC.db
/.vs/HU-Vision-practica-18-19/v15/.suo
/.vs/HU-Vision-practica-18-19/v15
